@use "../base/mixins" as *;
@use "sass:color";
@mixin product-card($hover-color) {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: .5rem;
  background-color: white;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $hover-color;
  }
  img{
    width: 5rem;
    height: 5rem;
  }
  h3{
    text-align: center;
    margin: 1rem;
  }
  form, section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      margin: 1rem 0 0.5rem 0;
    }
    label{
      margin: 1rem 0 0.5rem 0;
    }
    div{
      display: flex;
    }
    input, select {
      text-align: center;
    }
    input{
      width: 10rem;
    }
  }
}
@mixin product-grid{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  background-color: rgb(234,234,234);
  @include Mobile(){
    grid-template-columns: repeat(4 , 1fr);
  }
  @include Tablet(){
    grid-template-columns: repeat(5 , 1fr);
  }
  @include Desktop(){
    grid-template-columns: repeat(6 , 1fr);
  }
}
.content{
  h2{
    text-align: center
  }
  input, select, button{
    text-align: center;
  }
  .remove-button, .add-button{
    width: 15rem;
    height: 3rem;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
  }
  .remove-button{
    width: 6rem;
    transition: background-color linear 0.1s;
    background-color: rgba(197,58,61,255);
    @include Tablet(){
      width: 10rem;
    }
    &:hover{
      background-color: color.adjust(rgba(197,58,61,255), $lightness: 5%);
    }
  }
  .add-button{
    transition: background-color linear 0.1s;
    background-color: rgba(78,181,126,255);
    &:hover{
      background-color: color.adjust(rgba(78,181,126,255), $lightness: 5%);
    }
  }
  &_store-prices{
    &_store-products{
      @include product-grid();
      &_store-product{
        @include product-card(rgb(199,242,215));
      }
    }
  }
  &_product-selection{
    &_products{
      @include product-grid();
      &_product{
        @include product-card(rgb(163,201,249));
      }
    }
  }
  &_machines{
    &_electricity{
      @include product-card(rgb(163,201,249));
    }
    &_machines-section{
      @include product-grid();
      &_machine{
        @include product-card(rgb(163,201,249));
      }
    }
  }
  &_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    section{
      h3{
        text-decoration: underline;
        margin-bottom: 2rem;
      }
    }
  }
  &_cart{
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    input{
      text-align: center;
      font-weight: bold;
      font-size: GetFontSize("mobile","h3");
      @include Tablet(){
        font-size: GetFontSize("tablet","h3");
      }
      @include Desktop(){
        font-size: GetFontSize("desktop","h3");
      }
    }
    @include Tablet(){
      display: grid;
      grid-template-columns: 50% 50%;
      &_items, &_summary{ 
        padding: 0 5rem;
      }
    }
    &_items{
      display: flex;
      flex-direction: column;
      align-items: center;
      &_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_multiplier{
          display: flex;
          gap: 0 2rem;
          align-items: center;
        }
        table{
          border-collapse: separate;
          border-width: 2rem;
          td, th{
            text-align: center;
            @include Tablet(){
              padding: 1rem;
            }
          }
          thead{
            th{
              text-transform: uppercase;
            }
          }
          tbody{
            td{
              img{
                width: 5rem;
                height: 5rem;
              }
            }
          }
        }
        h3{
          text-transform: uppercase;
        }
      }
    }
    &_summary{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      section{
        display: flex;
        align-items: center;
        padding: 1rem;
        justify-content: space-between;
        border-bottom: .1rem solid;
        div{
          display: flex;
          gap: 1rem;
        }
      }
      .content_cart_summary_cost-per-unit{
        background-color: #4F81BD;
        h3, p {
          color: white;
          font-weight: bold;
        }
      }
      .content_cart_summary_profit-per-unit{
        background-color: #4CAF50;
        h3, p {
          color: white;
          font-weight: bold;
        }
      }
      .content_cart_summary_profit-percent{
        background-color: #FFC107;
        h3, p {
          color: white;
          font-weight: bold;
        }
      }
      .content_cart_summary_total-cost{
        background-color: #607D8B;
        h3, p {
          color: white;
          font-weight: bold;
        }
      }
      .content_cart_summary_total-profit{
        background-color: #388E3C;
        h3, p {
          color: white;
          font-weight: bold;
        }
      }
      .content_cart_summary_total-selling-price{
        background-color: #FF9800;
        h3, p {
          color: white;
          font-weight: bold;
        }
      }
    }
    &_upload, &_download{
      display: flex;
      flex-direction: column;
      button{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 2rem;
        padding: 1rem;
        font-size: 3rem;
        border: none;
        color: white;
        cursor: pointer;
        svg{
          width: 3rem;
          color: white;
        }
      }
    }
    &_upload{
      button{
        background-color: #779ce9;
        transition: background-color linear .1s;
        &:hover{
          background-color: color.adjust(#779ce9, $lightness: 10%);  
        }
      }
    }
    &_download{
      button{
        background-color: #9de977;
        transition: background-color linear .1s;
        &:hover{
          background-color: color.adjust(#9de977, $lightness: 10%);  
        }
      }
    }
  }
}