@use "../base/mixins" as *;
@mixin product-card($hover-color) {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: .5rem;
  background-color: white;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $hover-color;
  }
  img{
    width: 5rem;
    height: 5rem;
  }
  h3{
    text-align: center;
    margin: 1rem;
  }
  &_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      margin: 1rem 0 0.5rem 0;
    }
    div{
      display: flex;
    }
    input, select {
      text-align: center;
    }
    input{
      width: 10rem;
    }
    select{

    }
  }
}
@mixin product-grid{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  background-color: rgb(234,234,234);
  @include Mobile(){
    grid-template-columns: repeat(4 , 1fr);
  }
  @include Tablet(){
    grid-template-columns: repeat(5 , 1fr);
  }
  @include Desktop(){
    grid-template-columns: repeat(6 , 1fr);
  }
}
.content{
  h2{
    text-align: center
  }
  select{
    font-weight: bold;
  }
  input, select, button{
    text-align: center;
  }
  button{
    width: 15rem;
    height: 3rem;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .remove-button, .add-button{
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
  }
  .remove-button{
    width: 6rem;
    background-color: rgba(197,58,61,255);
    @include Tablet(){
      width: 10rem;
    }
  }
  .add-button{
    background-color: rgba(78,181,126,255);
  }
  &_store-prices{
    &_store-products{
      @include product-grid();
      &_store-product{
        @include product-card(rgb(199,242,215));
      }
    }
  }
  &_product-selection{
    &_products{
      @include product-grid();
      &_product{
        @include product-card(rgb(163,201,249));
      }
    }
  }
  &_fuel{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_electricity{
      @include product-card(rgb(163,201,249));
      &_section{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &_cart{
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    @include Tablet(){
      display: grid;
      grid-template-columns: 50% 50%;
    }
    &_items{
      display: flex;
      flex-direction: column;
      align-items: center;
      &_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_multiplier{
          display: flex;
          gap: 0 2rem;
          align-items: center;
        }
        table{
          border-collapse: separate;
          border-width: 2rem;
          td, th{
            text-align: center;
          }
          thead{
            th{
              text-transform: uppercase;
            }
          }
          tbody{
            td{
              img{
                width: 5rem;
                height: 5rem;
              }
            }
          }
        }
        h3{
          text-transform: uppercase;
        }
      }
    }
    &_summary{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &_section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        input{
          text-align: center;
        }
      }
    }
  }
}