@use "mixins" as *;
@use "sass:color";
html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 62.5%;
  font-variant: small-caps;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
  margin: 1rem;
}
input, select, button {
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
  font-size: GetFontSize("mobile","h4");;
  @include Tablet(){
    font-size: GetFontSize("tablet","h4");;
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h4");;
  }
}
button{
  font-weight: bold;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,label,select{
  color: #1E3A8A;
  font-weight: bold;
}
p{
  color: #374151;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: GetFontSize("mobile","nav");
  justify-content: center;
  margin: 0 0 2rem 0;
  a{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color linear 0.2s;
    background-color: #2563EB;
    &:hover{
      background-color: color.adjust(#2563EB, $lightness: 5%);
    }
  }
  @include Tablet(){
    flex-direction: row;
  }
  @include Desktop(){
  
  }
}
h1{
  font-size: GetFontSize("mobile","h1");
  @include Tablet(){
    font-size: GetFontSize("tablet","h1");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h1");
  }
}
h2{
  text-transform: uppercase;
  font-size: GetFontSize("mobile","h2");
  @include Tablet(){
    font-size: GetFontSize("tablet","h2");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h2");
  }
}
h3{
  font-size: GetFontSize("mobile","h3");
  @include Tablet(){
    font-size: GetFontSize("tablet","h3");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h3");
  }
}
h4, label{
  font-size: GetFontSize("mobile","h4");
  @include Tablet(){
    font-size: GetFontSize("tablet","h4");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h4");
  }
}
h5{
  font-size: GetFontSize("mobile","h5");
  @include Tablet(){
    font-size: GetFontSize("tablet","h5");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h5");
  }
}
p{
  font-size: GetFontSize("mobile","h3");
  @include Tablet(){
    font-size: GetFontSize("tablet","h3");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h3");
  }
}
button{
  font-size: GetFontSize("mobile","h5");
  @include Tablet(){
    font-size: GetFontSize("tablet","h5");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h5");
  }
}
thead{
  font-size: GetFontSize("mobile","h5");
  @include Tablet(){
    font-size: GetFontSize("tablet","h5");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h5");
  }
}
td{
  font-size: GetFontSize("mobile","h5");
  @include Tablet(){
    font-size: GetFontSize("tablet","h5");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h5");
  }
}