html {
  font-family: "Courier New", Courier, monospace;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
  margin: 1rem;
}

input, select {
  font-family: "Courier New", Courier, monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.445rem;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}
@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}

h1 {
  font-size: 2rem;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 2.645rem;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 1.7rem;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 1.955rem;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 2.24825rem;
  }
}

h3 {
  font-size: 1.445rem;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 1.66175rem;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 1.9110125rem;
  }
}

h4 {
  font-size: 1.22825rem;
}
@media (min-width: 1024px) {
  h4 {
    font-size: 1.4124875rem;
  }
}
@media (min-width: 1280px) {
  h4 {
    font-size: 1.624360625rem;
  }
}

h5 {
  font-size: 1.0440125rem;
}
@media (min-width: 1024px) {
  h5 {
    font-size: 1.200614375rem;
  }
}
@media (min-width: 1280px) {
  h5 {
    font-size: 1.3807065312rem;
  }
}

p {
  font-size: 1.445rem;
}
@media (min-width: 1024px) {
  p {
    font-size: 1.66175rem;
  }
}
@media (min-width: 1280px) {
  p {
    font-size: 1.9110125rem;
  }
}

button {
  font-size: 1.0440125rem;
}
@media (min-width: 1024px) {
  button {
    font-size: 1.200614375rem;
  }
}
@media (min-width: 1280px) {
  button {
    font-size: 1.3807065312rem;
  }
}

thead {
  font-size: 1.0440125rem;
}
@media (min-width: 1024px) {
  thead {
    font-size: 1.200614375rem;
  }
}
@media (min-width: 1280px) {
  thead {
    font-size: 1.3807065312rem;
  }
}

td {
  font-size: 1.0440125rem;
}
@media (min-width: 1024px) {
  td {
    font-size: 1.200614375rem;
  }
}
@media (min-width: 1280px) {
  td {
    font-size: 1.3807065312rem;
  }
}

.content h2 {
  text-align: center;
}
.content select {
  font-weight: bold;
}
.content input, .content select, .content button {
  text-align: center;
}
.content button {
  width: 15rem;
  height: 3rem;
  margin: 1rem 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
.content .remove-button, .content .add-button {
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}
.content .remove-button {
  width: 6rem;
  background-color: rgb(197, 58, 61);
}
@media (min-width: 1024px) {
  .content .remove-button {
    width: 10rem;
  }
}
.content .add-button {
  background-color: rgb(78, 181, 126);
}
.content_store-prices_store-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(234, 234, 234);
}
@media (min-width: 768px) {
  .content_store-prices_store-products {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .content_store-prices_store-products {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1280px) {
  .content_store-prices_store-products {
    grid-template-columns: repeat(6, 1fr);
  }
}
.content_store-prices_store-products_store-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}
.content_store-prices_store-products_store-product:hover {
  background-color: rgb(199, 242, 215);
}
.content_store-prices_store-products_store-product img {
  width: 5rem;
  height: 5rem;
}
.content_store-prices_store-products_store-product h3 {
  text-align: center;
  margin: 1rem;
}
.content_store-prices_store-products_store-product_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_store-prices_store-products_store-product_section h4 {
  margin: 1rem 0 0.5rem 0;
}
.content_store-prices_store-products_store-product_section div {
  display: flex;
}
.content_store-prices_store-products_store-product_section input, .content_store-prices_store-products_store-product_section select {
  text-align: center;
}
.content_store-prices_store-products_store-product_section input {
  width: 10rem;
}
.content_product-selection_products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(234, 234, 234);
}
@media (min-width: 768px) {
  .content_product-selection_products {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .content_product-selection_products {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1280px) {
  .content_product-selection_products {
    grid-template-columns: repeat(6, 1fr);
  }
}
.content_product-selection_products_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}
.content_product-selection_products_product:hover {
  background-color: rgb(163, 201, 249);
}
.content_product-selection_products_product img {
  width: 5rem;
  height: 5rem;
}
.content_product-selection_products_product h3 {
  text-align: center;
  margin: 1rem;
}
.content_product-selection_products_product_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_product-selection_products_product_section h4 {
  margin: 1rem 0 0.5rem 0;
}
.content_product-selection_products_product_section div {
  display: flex;
}
.content_product-selection_products_product_section input, .content_product-selection_products_product_section select {
  text-align: center;
}
.content_product-selection_products_product_section input {
  width: 10rem;
}
.content_fuel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_fuel_electricity {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}
.content_fuel_electricity:hover {
  background-color: rgb(163, 201, 249);
}
.content_fuel_electricity img {
  width: 5rem;
  height: 5rem;
}
.content_fuel_electricity h3 {
  text-align: center;
  margin: 1rem;
}
.content_fuel_electricity_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_fuel_electricity_section h4 {
  margin: 1rem 0 0.5rem 0;
}
.content_fuel_electricity_section div {
  display: flex;
}
.content_fuel_electricity_section input, .content_fuel_electricity_section select {
  text-align: center;
}
.content_fuel_electricity_section input {
  width: 10rem;
}
.content_fuel_electricity_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_cart {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
@media (min-width: 1024px) {
  .content_cart {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.content_cart_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_cart_items_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_cart_items_section_multiplier {
  display: flex;
  gap: 0 2rem;
  align-items: center;
}
.content_cart_items_section table {
  border-collapse: separate;
  border-width: 2rem;
}
.content_cart_items_section table td, .content_cart_items_section table th {
  text-align: center;
}
.content_cart_items_section table thead th {
  text-transform: uppercase;
}
.content_cart_items_section table tbody td img {
  width: 5rem;
  height: 5rem;
}
.content_cart_items_section h3 {
  text-transform: uppercase;
}
.content_cart_summary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content_cart_summary_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content_cart_summary_section input {
  text-align: center;
}/*# sourceMappingURL=app.css.map */
