html {
  font-family: "Courier New", Courier, monospace;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
}

input, select {
  font-family: "Courier New", Courier, monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav {
  display: flex;
  font-size: 2.5rem;
  gap: 2rem;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

input {
  height: 2rem;
}

.content h2 {
  text-align: center;
}
.content_store-prices_store-products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: rgb(234, 234, 234);
}
.content_store-prices_store-products_store-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}
.content_store-prices_store-products_store-product:hover {
  background-color: rgb(199, 242, 215);
}
.content_store-prices_store-products_store-product h3 {
  margin: 0;
}
.content_store-prices_store-products_store-product_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_store-prices_store-products_store-product_section h4 {
  margin: 1rem 0 0.5rem 0;
}
.content_store-prices_store-products_store-product_section div {
  display: flex;
}
.content_store-prices_store-products_store-product_section input, .content_store-prices_store-products_store-product_section select {
  text-align: center;
}
.content_product-selection_products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: rgb(234, 234, 234);
}
.content_product-selection_products_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}
.content_product-selection_products_product:hover {
  background-color: rgb(163, 201, 249);
}
.content_product-selection_products_product h3 {
  margin: 0;
}
.content_product-selection_products_product_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_product-selection_products_product_section h4 {
  margin: 1rem 0 0.5rem 0;
}
.content_product-selection_products_product_section div {
  display: flex;
}
.content_product-selection_products_product_section input, .content_product-selection_products_product_section select {
  text-align: center;
}
.content_cart {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 5rem;
}
.content_cart_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_cart_items_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_cart_items_section_multiplier {
  display: flex;
  gap: 0 2rem;
  align-items: center;
}
.content_cart_items_section table {
  border-collapse: separate;
  border-spacing: 3rem 0;
}
.content_cart_items_section table td, .content_cart_items_section table th {
  text-align: center;
}
.content_cart_items_section table thead th {
  font-size: 3rem;
  text-transform: uppercase;
}
.content_cart_items_section table tbody td {
  font-size: 2rem;
}
.content_cart_items_section h3 {
  text-transform: uppercase;
}
.content_cart_summary {
  display: flex;
  flex-direction: column;
}
.content_cart_summary_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.content_cart_summary_section input, .content_cart_summary_section p {
  font-size: 3rem;
}
.content_cart_summary_section input {
  height: 3.5rem;
  text-align: center;
}/*# sourceMappingURL=app.css.map */
